*{
    margin: 0;
    padding: 0;
    border: 0;
}

.raleway-uniquifier {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
/*MENU NAVBAR*/
.navbar{
    font-weight: 900;
    font-size: 1rem;
}

#logo img{
    height: 50px;
    width: 50px;
}
#logo span{
    font-family: "Edu AU VIC WA NT Hand", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
}
  /*CARRUSEL*/
#carousel-slide h5{
    font-weight: 700;
    font-size: 3rem;
}
#carousel-slide img{
    height: 100vh;
}
.container-fluid{
    background-color: #000;
}
/*Seccion uno quienes somos*/
#section-uno{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}
hr {
    border-top: 2px solid #23BEC5;
    width: 70%;
    margin: 0 auto;
}
#section-uno h2{
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    margin-top: 30px;
}
#parrafos{
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    margin: 0 90px 0 90px ;
    gap: 15px;
}
.item{
    display: flex;
    flex-direction: column;
}
.item i{
    font-size: 20px;
}
.icon{
    background-color: #23BEC5;
    width: 100%;
    height: 40px;
    align-content: center;
    text-align: center;
}
/*card*/
#section-dos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}
#section-dos h2{
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    margin-top: 30px;
}
#content-card{
    display: flex;
    flex-direction: row;
    margin: 0 90px 0 90px ;
    gap: 10px;
}
.card{
    width: 280px;
}
.card img{
    width: 278px;
    height: 180px;
}
.card-body{
    background-color: #23BEC5;
}
.card-body h5{
    font-size: 1rem;
    font-weight: 700;
}
.card.text{
    color: #fff !important;
    font-size: 0.9rem;
    font-weight: 400;
}
/*seccion del formulario */
#section-tres{
    display: flex;
    flex-direction: column;
    color: #fff;
}
#section-tres h2{
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    margin-top: 30px;
}
#section-tres form{
    margin: 0 90px 0 90px ;
}
#section-tres button{
    background-color: #23BEC5;
    margin-bottom: 20px;
}
/*footer*/
footer{
    background-color: #23BEC5;
    padding: 20px; 
    text-align: center;
    justify-content: center;
    height: 100px;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    max-width: 800px; 
    margin: 0 auto;
    font-size: 25px;
    color:#fff ;
}
footer span{
    font-family: "Edu AU VIC WA NT Hand", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin: 0 90px 0 90px ;
}
footer img{
    height: 50px;
    width: 50px;
}

/*responsivo*/
@media (max-width: 768px) {
    .carousel-item img {
      max-height: 300px; /* Altura máxima en dispositivos más pequeños */
    }
    /* seccion uno */
    #section-uno{
        display: none;
    }
    /*seccion dos*/
    #section-dos h2{
        font-weight: 700;
        font-size: 1.5rem;
        text-align: center;
        margin-top: 30px;
    }
    #content-card{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .card{
        width: 280px;
    }
    .card img{
        width: 278px;
        height: 180px;
    }
    .card-body{
        background-color: #23BEC5;
    }
    .card-body h5{
        font-size: 0.8rem;
        font-weight: 700;
    }
    .card.text{
        color: #fff !important;
        font-size: 0.6rem;
        font-weight: 400;
    }
    /*formulario*/
    #section-tres h2{
        font-weight: 700;
        font-size: 1.5rem;
        text-align: center;
        margin-top: 30px;
    }
    #section-tres form{
        margin: 0 0 0 0;
    }
    /*footer*/
    .footer-content{
        display: flex;
        flex-direction: column;
        align-items: center; 
        font-size: 20px;
        color:#fff ;
    }
    footer span{
        font-family: "Edu AU VIC WA NT Hand", cursive;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        margin: 0 90px 0 90px ;
    }

}